<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <img src="../IMAGES/logo.png"" alt=" FileBox Logo" class="img-responsive logo"
                style="max-height:50px;float: left;">
        </div>
    </nav>
    <br/><br/><br/>

<div align="center">
    <label class="error">ERROR {{error.status}}</label><label class="error">: {{message}}</label>
    <br/>
    <img class="img-fill" src="images/{{error.status}}.png">
</div>
</body>