<!doctype html>
<html lang="en">

<head>
    <title>My Friends | FileBox</title>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/dashboard"><img src="IMAGES/logo.png"" alt=" FileBox Logo" class="img-responsive logo"
                        style="max-height:50px"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i
                            class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Search Friends...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                    </div>
                </form>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span
                                            class="dot bg-warning"></span>[Notification]</a></li>
                                <li><a href="#" class="notification-item"><span
                                            class="dot bg-danger"></span>[Notification]</a></li>
                                <li><a href="#" class="notification-item"><span
                                            class="dot bg-success"></span>[Notification]</a></li>
                                <li><a href="#" class="notification-item"><span
                                            class="dot bg-warning"></span>[Notification]</a></li>
                                <li><a href="#" class="notification-item"><span
                                            class="dot bg-success"></span>[Notification]</a></li>
                                <li><a href="#" class="more">See all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="lnr lnr-question-circle"></i> <span>Help</span> <i
                                    class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Uploading Files</a></li>
                                <li><a href="#">File Management</a></li>
                                <li><a href="#">Messaging Friends</a></li>
                                <li><a href="#">Editing with Friends</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="IMAGES/userImage.jpg"
                                    class="img-circle" alt="Avatar"> <span>Brandon</span> <i
                                    class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/account"><i class="lnr lnr-user"></i> <span>My Account</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message a Friend</span></a></li>
                                <li><a href="/login"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/dashboard" class="active"><i
                                    class="lnr lnr-home"></i><span>Dashboard</span></a></li>
                        <li><a href="/dashboard" class=""><i class="lnr lnr-inbox"></i> <span>My Files</span></a>
                        </li>
                        <li><a href="/dashboard" class=""><i class="lnr lnr-inbox"></i> <span>Shared With
                                    Me</span></a></li>
                        <li><a href="/groups" class=""><i class="lnr lnr-user"></i> <span>Groups</span></a></li>
                        <li><a href="/friends" class=""><i class="lnr lnr-user"></i> <span>Friends</span></a></li>
                        <li><a href="/dashboard" class=""><i class="lnr lnr-bubble"></i> <span>My
                                    Messages</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i
                                    class="lnr lnr-file-empty"></i> <span>Pages</span> <i
                                    class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="/dashboard" class="">Dashboard</a></li>
                                    <li><a href="/groups" class="">Groups</a></li>
                                    <li><a href="/friends" class="">Friends</a></li>
                                    <li><a href="/account" class="">Account</a></li>
                                    <li><a href="/login" class="">Login</a></li>
                                    <li><a href="/register" class="">Register</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="login/" class=""><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <!-- FRIENDS -->
                <div id="FilesDiv" class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Friends</h3>
                            <p class="panel-subtitle">People You've Added to Your Personal Friends List</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="people-nearby">

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>

                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="IMAGES/userImage.jpg" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">Brandon Palumbo (@Brandon)</a></h5>
                                                <p>Software Engineer</p>
                                                <p class="text-muted">bpalumbo.dev@gmail.com</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <button class="btn btn-danger pull-right">Report</button>&emsp;
                                                <button class="btn btn-danger pull-right">Remove</button>&emsp;
                                                <button class="btn btn-primary pull-right">Message</button>&emsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- END FRIENDS -->
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy;Brandon Palumbo, Patrick Asciola 2019</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
</body>
</html>