<!DOCTYPE html>
<html>

<head>
    <title>FileBox | Registry</title>
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
            <img src="../IMAGES/logo.png"" alt=" FileBox Logo" class="img-responsive logo"
                style="max-height:50px;float: left;">
        </div>
    </nav>
    <br/><br/><br/>
<div align="center">
    <h2>Sorry, you have to sign in to view this page</label>
    <br/>
    <h3>Click <a href="/login">Here</a> to Login</h3>
    <hr>
    <img src="images/confused.jpg"/>
</div>

</body>